<section class="main">

    <h2> Weather</h2>
    <br>

    <div class="search">
      <form #form="ngForm" (submit)="onSubmit()">
        <input type="text" placeholder="Search city .." name="city" [(ngModel)]="cityName">
      </form>
    </div>

    <div class="weather" *ngIf="weatherData">

      <div class="city">  {{weatherData.name}}</div>
      <div class="temperature"> {{ weatherData.main.temp | number: '1.0-0'}}°C</div>
      <div>
        <img src="https://www.paradisechopta.com/images/monsoon.png" alt="" className="city-icon" width="100px" height="100px">
        <img src="https://openweathermap.org/img/w/04n.png" alt="" className="city-icon" width="100px" height="100px">
      </div>
      <div class="info" >{{weatherData.weather[0].description}}</div>

    </div>

</section>